<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Profile</title>
  <link rel="stylesheet" type="text/css" href="profile.css">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
  <link rel="stylesheet" href="createPost.css" type="text/css" media="all" />
</head>
<body>
  <div class="profile">
    <h1>Edit Profile</h1>
    <form action="#" method="POST">
      <input type="text" class="name" placeholder="First Name">
      <input type="text" class="last-name" placeholder="Last Name">
      <input type="email" class="email" placeholder="Email">
      <button class="edit-button">Save Changes</button>
    </form>
  </div>
</body>
</html>
